
html{
	height: 100%
}

body{
	background-image: url(../images/howudoin.gif);
	height: 100%
}

header {
	margin: auto;
	width: 50%;
	text-align: center;
	color: white;
}

#email, #password, #reenter {
	padding: 5px;
	
}

section {
	background-color: white;
	border: 2px black solid;
	padding : 10px;
	margin: auto;
	width: 25%;
	height: 75%;
	text-align: center;
}